.button{
  opacity: 0.8;
  margin: 8px 8px;
}

.color-1{
  background-color:#58756E;
}

.color-2{
  background-color:#7D969D;
}

.color-3{
  background-color:#718199;
}

.button:hover{
  opacity: 1;
  transform: scale(1.02);
}

.clock{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.fa-arrow-left{
  color:#6F616A;
}

.back-button{
  position:absolute;
  bottom: 3%;
  left:5%;
  font-size: 36px;
}

.info-button{
  position:absolute;
  bottom: 3%;
  right:5%;
  font-size: 36px;
  color:#6F616A;
}

.modal-background{
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.modal-off{
  display:none;
}

