.clock2{
  display:flex;
  justify-content: center;
}

.cell2{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 70%;
  width: 70%;
  border: 5px solid #EDC2C2;
  opacity: 90%;
}

.opacity{
  opacity: 75%;
}

@media only screen and (max-width: 768px) {
  .outside{
    min-width: 95vw;
    max-width: 95vw;
    min-height: 95vw;
    max-height: 95vw;
  }
  .clock2{
    padding-top: 10%;
  }
}

@media only screen and (min-width: 769px) {
  .outside{
    min-width: 70vh;
    max-width: 70vh;
    min-height: 70vh;
    max-height: 70vh;
  }
  .clock2{
    padding-top: 3%;
  }
}

